html,
body {
  margin: 0;
  padding: 0;

}

.container {
  max-width: 1280px;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  background-color: #efebe9;
  border-radius: 10px;
}

.info {
  display: flex;
  margin: auto;
}

.info div {
  flex-grow: 1;
}

.info img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}

footer {
  margin-top: 30px;
  text-align: center;
}


footer .hub-logo {
  height: 20px;
  border-radius: 50%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

footer .rs-logo {
  height: 20px;
}